<div class="card card-body p-5 mt-4 bg-white">
  <h1 class="display-4">Notas App Nodejs and Mongodb</h1>
  <p class="lead">
    Esta es una aplicación CRUD de notas a nuestra base de datos. 
    Utilizamos
    handlebars y mensajes con connect-flash. Tambien hacemos registro de
    usuarios a nuestra base de datos, login con passport y bcrypt y logout.
    Protegemos rutas de express con passport, y programamos las notas para que
    sean de forma privada por cada usuario.

    <hr class="my-4" />
    <a
      href="https://github.com/leonelgorgellon"
      class="btn btn-primary"
    >GitLG</a>
  </p>
</div>