<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Ingresar Cuenta
      </div>
      <img src="/img/logo-lg.png" class="rounded-circle mx-auto d-block m-4 logo">
      <div class="card-body">
        <form action="/users/signin" method="post">
          <div class="form-group mb-3">
            <input type="email" class="form-control" name="email" value="" placeholder="Ingresar email" />
          </div>
          <div class="form-group mb-3">
            <input type="password" class="form-control" name="password" value="" placeholder="Ingresar contraseña" />
          </div>
          <button class="btn btn-primary d-grid gap-2 col-6 mx-auto">
            Ingresar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>